<header class="header">
  <div class="header__info">
    <a (click)="clearChange(search)">
      <img class="header__logo shake" src="./assets/images/pokeball.svg" alt="Pokémon">
    </a>
  </div>

  <div class="header__form">
    <h1 class="header__title">Pokémon Database (Pokedex)</h1>
  
    <div class="header__controls">
      <pkd-search
        #search
        (changedPokemon)="emitPokemon($event)">
      </pkd-search>
  
      <button
        mat-flat-button
        color="primary"
        (click)="clearChange(search)"
        [disabled]="!search.select.value"
        class="mat-button--max-height">
        Limpar
      </button>
    </div>
  </div>
</header>