<header class="header">
  <div class="header__info">
    <img class="header__logo" src="./assets/images/pokeball.svg" alt="Pokémon">
  </div>

  <div class="header__form">
    <h1 class="header__title">Pokémon Database (Pokedex)</h1>
  
    <div class="header__controls">
      <mat-form-field class="mat-form-field--block">
        <mat-select
          #select
          placeholder="Select a Pokémon"
          (selectionChange)="onChange($event)">
          <mat-option
            *ngFor="let pokemon of pokemons"
            [value]="pokemon.url">
            {{ pokemon.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button
        mat-flat-button
        color="primary"
        (click)="clearChange(select)"
        [disabled]="!select.value"
        class="mat-button--max-height">Limpar</button>
    </div>
  </div>
</header>