@import "~src/assets/scss/mixins/mixins";

:host {
  display: block;

  height: 100%;
  overflow-y: auto;
  padding: { top: 32px; bottom: 32px; };

  background: #ffffff;
  background: radial-gradient(circle, #ffffff 0%, #1ACBEB 100%);
}